body{
  background-color:#EAF6F6;
  color:firebrick;
}
.nav{
  padding:20;
  float:right;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 60px;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
